{% extends "base.html" %}
{% load static %}
{% block title %}Cấu hình{% endblock title %}

{% block content %}
	<content class="content">
		<section class="content__1">
			<div class="inner">
				<div class="content__1__header btn__content dflex">
					<span>Trạng thái hệ thống</span>
				</div>
				<div class="content__1__inner dflex dflex__ct dflex__ct__ct">
					
					<div class="content__1__ts dflex dflex__ct dflex__ct__sb dflex__column">
						<h2>Điều khiển ghép nối</h2>
						<div class="content__list conf dflex dflex__ct dflex__ct__ct dflex__column">
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<label for="time__start">Thời gian bắt đầu</label>
								<input type="time" name="" class="time" id="time__start">
								<label for="time__finish">Thời gian kết thúc</label>
								<input type="time" name="" class="time" id="time__finish">
							</div>
							<a class="content__conf__btn">
								Xác nhận
							</a>
						</div>
					</div>
					<div class="content__1__ttht dflex dflex__ct dflex__ct__sb dflex__column">
						<h2>Điều khiển đèn</h2>
						<div class="content__list conf dflex dflex__ct dflex__ct__sa">
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<a href="" class="content__conf__btn a">Chế độ hẹn giờ</a>
								<a href="" class="content__conf__btn b">Chế độ thủ công</a>
								<a href="" class="content__conf__btn c">Ngắt nguồn</a>
							</div>
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<div class="content__time dflex dflex__ct dflex__ct__ct dflex__column">
									<label for="time__start">Thời gian bật</label>
									<input type="time" name="" class="time" id="time__on">
									<label for="time__finish">Thời gian tắt</label>
									<input type="time" name="" class="time" id="time__off">
								</div>
								<a href="" class="content__conf__btn">Xác nhận</a>
							</div>
						</div>
					</div>
					
				</div>
				<div class="content__1__inner dflex dflex__ct dflex__ct__ct">	
					<div class="content__1__ttht dflex dflex__ct dflex__ct__sb dflex__column">
						<h2>Điều khiển thiết bị 1</h2>
						<div class="content__list conf dflex dflex__ct dflex__ct__sa1">
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<a href="" class="content__conf__btn a">Chế độ hẹn giờ</a>
								<a href="" class="content__conf__btn b">Chế độ thủ công</a>
								<a href="" class="content__conf__btn c">Ngắt nguồn</a>
							</div>
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<div class="content__time dflex dflex__ct dflex__ct__ct dflex__column">
									<label for="time__start">Thời gian bật</label>
									<input type="time" name="" class="time" id="time__on">
									<label for="time__finish">Thời gian tắt</label>
									<input type="time" name="" class="time" id="time__off">
								</div>
								<a href="" class="content__conf__btn">Xác nhận</a>
							</div>
						</div>
					</div>
					<div class="content__1__ttht dflex dflex__ct dflex__ct__sb dflex__column">
						<h2>Điều khiển thiết bị 2</h2>
						<div class="content__list conf dflex dflex__ct dflex__ct__sa">
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<a href="" class="content__conf__btn a">Chế độ hẹn giờ</a>
								<a href="" class="content__conf__btn b">Chế độ thủ công</a>
								<a href="" class="content__conf__btn c">Ngắt nguồn</a>
							</div>
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<div class="content__time dflex dflex__ct dflex__ct__ct dflex__column">
									<label for="time__start">Thời gian bật</label>
									<input type="time" name="" class="time" id="time__on">
									<label for="time__finish">Thời gian tắt</label>
									<input type="time" name="" class="time" id="time__off">
								</div>
								<a href="" class="content__conf__btn">Xác nhận</a>
							</div>
						</div>
					</div>
					<div class="content__1__ttht dflex dflex__ct dflex__ct__sb dflex__column">
						<h2>Điều khiển thiết bị 3</h2>
						<div class="content__list conf dflex dflex__ct dflex__ct__sa1">
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<a href="" class="content__conf__btn a">Chế độ hẹn giờ</a>
								<a href="" class="content__conf__btn b">Chế độ thủ công</a>
								<a href="" class="content__conf__btn c">Ngắt nguồn</a>
							</div>
							<div class="content__conf dflex dflex__ct dflex__ct__ct dflex__column">
								<div class="content__time dflex dflex__ct dflex__ct__ct dflex__column">
									<label for="time__start">Thời gian bật</label>
									<input type="time" name="" class="time" id="time__on">
									<label for="time__finish">Thời gian tắt</label>
									<input type="time" name="" class="time" id="time__off">
								</div>
								<a href="" class="content__conf__btn">Xác nhận</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</content>
{% endblock content %}