{% extends "base.html" %}
{% load static %}

{% block title %}Trang chủ{% endblock title %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exceljs@4.3.0/dist/exceljs.min.js"></script>
    <script src="{% static "js/chart.js" %}"></script>
{% endblock head %}

{% block content %}
    <content class="content">
        <section class="content__1">
            <div class="inner">
                <div class="content__1__header btn__content dflex">
                    <span>Trạng thái hệ thống</span>
                </div>
                <div class="content__1__inner dflex dflex__ct dflex__ct__ct">
                    <div class="content__1__ttht dflex dflex__ct dflex__ct__sb dflex__column">
                        <h2>Trạng thái hệ thống</h2>
                        <div class="content__list dflex dflex__ct dflex__ct__sa">
                            <div class="content__item dflex dflex__ct dflex__ct__ct dflex__column">
                                <span class="content__item__title">
                                    Dung lượng ắc quy
                                </span>
                                <img src="{% static "img/acquy.png" %}" alt="">
                                <div class="btn__content__display">
                                    <p>92<span> %</span></p>
                                </div>
                            </div>
                            <div class="content__item dflex dflex__ct dflex__ct__ct dflex__column">
                                <span class="content__item__title">
                                    Công suất thu
                                </span>
                                <img src="{% static "img/solar.png" %}" alt="">
                                <div class="btn__content__display">
                                    <p>{{epvToday}}<span> kW</span></p>
                                </div>
                            </div>
                            <div class="content__item dflex dflex__ct dflex__ct__ct dflex__column">
                                <span class="content__item__title">
                                    Công suất tiêu thụ
                                </span>
                                <img src="{% static "img/solar1.png" %}" alt="">
                                <div class="btn__content__display">
                                    <p>1234<span> kW</span></p>
                                </div>
                            </div>
                            <div class="content__item dflex dflex__ct dflex__ct__ct dflex__column">
                                <span class="content__item__title">
                                    Trạng thái ghép nối
                                </span>
                                <div class="btn__notice active">
                                    <div class="btn__notice__inner">
                                        <div class="notice__inner"></div>
                                    </div>
                                </div>
                                <div class="btn__content__display auto active">
                                    <p class="auto__on">Tự động</p>
                                    <p class="auto__off">Thủ công</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__1__ts dflex dflex__ct dflex__ct__sb dflex__column">
                        <h2>Thông số thu được tháng {{MONTH}}</h2>
                        <div class="content__list">
                            <div class="content__item dflex dflex__ct dflex__ct__sb">
                                <div class="content__ts_a dflex dflex__ct dflex__ct__fs dflex__column">
                                    <span class="content__item__title">
                                        Công suất thu được tháng {{MONTH}}
                                    </span>
                                    <div class="btn__content__display">
                                        <p>{{eMonth}}<span> kW</span></p>
                                    </div>
                                </div>
                                <img src="{% static "img/solar.png" %}" alt="">
                            </div>
                            <div class="content__item dflex dflex__ct dflex__ct__sb">
                                <div class="content__ts_a dflex dflex__ct dflex__ct__fs dflex__column">
                                    <span class="content__item__title">
                                        Công suất tiêu thụ tháng {{MONTH}}
                                    </span>
                                    <div class="btn__content__display">
                                        <p>99999999<span> kW</span></p>
                                    </div>
                                </div>
                                <img src="{% static "img/solar1.png" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content__2">
            <div class="inner dflex dflex__ct dflex__ct__fs dflex__column">
                <div class="content__1__header btn__content dflex">
                    <span>Trạng thái hệ thống</span>
                </div>
                <div class="content__2__inner">
                    <div class="content__2__item">
                        <img src="{% static "img/line1.gif" %}" alt="">
                        <div class="content__2__ts">
                            <div class="content__2__ts__a">
                                <p>Công suất</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kW</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Điện áp</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kV</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Dòng diện</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kA</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>PV</p>
                                <div class="btn__content__display">
                                    <p>99999999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__2__item">
                        <img src="{% static "img/line2.gif" %}" alt="">
                        <div class="content__2__ts">
                            <div class="content__2__ts__a">
                                <p>Công suất</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kW</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Điện áp</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kV</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Dòng diện</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kA</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>PV</p>
                                <div class="btn__content__display">
                                    <p>99999999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content__2__item">
                        <img src="{% static "img/line2.gif" %}" alt="">
                        <div class="content__2__ts">
                            <div class="content__2__ts__a">
                                <p>Công suất</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kW</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Điện áp</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kV</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>Dòng diện</p>
                                <div class="btn__content__display">
                                    <p>99999999<span> kA</span></p>
                                </div>
                            </div>
                            <div class="content__2__ts__a">
                                <p>PV</p>
                                <div class="btn__content__display">
                                    <p>99999999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content__3">
            <div class="inner">
                <div class="content__1__header btn__content dflex">
                    <span>Biểu đồ thống kê</span>
                </div>
                <div class="chart">
                    <canvas id="myChart">
                    </canvas>
                    <div class="btn dflex dflex__ct dflex__ct__ct" style="gap: 40px;">
                        <span>Tháng:</span>
                        <select id="select" class="s__month" onchange="timeFream(this)">
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option valua=4>4</option>
                            <option valua=5>5</option>
                            <option valua=6>6</option>
                            <option valua=7>7</option>
                            <option valua=8>8</option>
                            <option valua=9>9</option>
                            <option valua=10>10</option>
                            <option valua=11>11</option>
                            <option valua=12>12</option>
                        </select>
                        <span>Năm:</span>
                        <button value="year" class="btn__year" onclick="timeFream(this)">2023</button>
                    </div>
                    <script type="text/javascript">
                        var startDate = new Date(2023, 0, 1);
                        var endDate = new Date(2023, 11, 31);
                        var year = {};
                        var currentDate = startDate;
                        while (currentDate <= endDate) {
                            var month = currentDate.getMonth() + 1;
                            var day = currentDate.getDate();

                            var x = day;
                            var y = (month + day) * 1000 * (Math.random(1000) * 10) + 1;
                            var y1 = (month + day) * 1000 * (Math.random(1000) * 10) + 1;
                            if (!year[month]) {
                                year[month] = {};
                            }
                            var dates = [{ x: x.toString(), y: y }, { x: x.toString(), y: y1 }];
                            year[month][day] = dates;

                            currentDate.setDate(currentDate.getDate() + 1);
                        }

                        function get_day(a) {
                            label_day_x = [];
                            if (a == 1 || a == 3 || a == 5 || a == 7 || a == 8 || a == 10 || a == 12) {
                                for (var i = 1; i <= 31; i++) {
                                    label_day_x[i] = year[a][i][0].x;
                                }
                                label_day_x.shift();
                                return label_day_x;
                            }
                            if (a == 2) {
                                for (var i = 1; i <= 28; i++) {
                                    label_day_x[i] = year[a][i][0].x;
                                }
                                label_day_x.shift();
                                return label_day_x;
                            } else {
                                for (var i = 1; i <= 30; i++) {
                                    label_day_x[i] = year[a][i][0].x;
                                }
                                label_day_x.shift();
                                return label_day_x;
                            }
                        }

                        function get_td_day(a) {
                            label_day_y_td = [];
                            if (a == 1 || a == 3 || a == 5 || a == 7 || a == 8 || a == 10 || a == 12) {
                                for (var i = 1; i <= 31; i++) {
                                    label_day_y_td[i] = year[a][i][0].y;
                                }
                                label_day_y_td.shift();
                                return label_day_y_td;
                            }
                            if (a == 2) {
                                for (var i = 1; i <= 28; i++) {
                                    label_day_y_td[i] = year[a][i][0].y;
                                }
                                label_day_y_td.shift();
                                return label_day_y_td;
                            } else {
                                for (var i = 1; i <= 30; i++) {
                                    label_day_y_td[i] = year[a][i][0].y;
                                }
                                label_day_y_td.shift();
                                return label_day_y_td;
                            }
                        }

                        function get_tt_day(a) {
                            label_day_y_tt = [];

                            if (a == 1 || a == 3 || a == 5 || a == 7 || a == 8 || a == 10 || a == 12) {
                                for (var i = 1; i <= 31; i++) {
                                    label_day_y_tt[i] = year[a][i][1].y;
                                }
                                label_day_y_tt.shift();
                                return label_day_y_tt;
                            }
                            if (a == 2) {
                                for (var i = 1; i <= 28; i++) {
                                    label_day_y_tt[i] = year[a][i][1].y;
                                }
                                label_day_y_tt.shift();
                                return label_day_y_tt;
                            } else {
                                for (var i = 1; i <= 30; i++) {
                                    label_day_y_tt[i] = year[a][i][1].y;
                                }
                                label_day_y_tt.shift();
                                return label_day_y_tt;
                            }
                        }

                        var sums_td = {};
                        var sums_tt = {};
                        for (var month in year) {
                            sums_td[month.toString()] = 0;
                            sums_tt[month.toString()] = 0;
                            for (var day in year[month]) {
                                sums_tt[month] += year[month][day][0].y;
                                sums_td[month] += year[month][day][1].y;
                            }
                        }
                        var td_arr = Object.values(sums_td);
                        var tt_arr = Object.values(sums_tt);
                        
                        var label_month = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'];
                        const data = {
                            labels: label_month,
                            datasets: [{
                                label: 'Công suất thu được',
                                data: td_arr,
                                fill: false,
                                borderColor: '#0000ff',
                                tension: 0.1
                            }, {
                                label: 'Công suất tiêu thụ',
                                data: tt_arr,
                                fill: false,
                                borderColor: '#ff0000',
                                tension: 0.1
                            }]
                        };
                        const config = {
                            type: 'line',
                            data: data,
                        };

                        var myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                            );
                        function timeFream(a) {
                            if (a.value == 'year') {
                                data.labels = label_month;
                                data.datasets[0].data = sums_td.shift();
                                data.datasets[1].data = sums_tt.shift();
                            } else {
                                data.labels = get_day(a.value);
                                data.datasets[0].data = get_td_day(a.value);
                                data.datasets[1].data = get_tt_day(a.value);
                            }
                            myChart.update();
                        }
                    </script>
                </div>
            </div>
            <button onclick="exportToExcel()">Xuất dữ liệu thành Excel</button>
        </section>
    </content>
    <script>
        function exportToExcel() {
            var chartData = myChart.data.datasets;
            var excelData = [];

            // Tiêu đề cho các cột
            var headerRow = ['Tháng', 'Công suất thu được', 'Công suất tiêu thụ'];
            excelData.push(headerRow);

            for (var i = 0; i < chartData[0].data.length; i++) {
                var month = data.labels[i];
                var revenue = chartData[0].data[i];
                var consumption = chartData[1].data[i];

                var rowData = [month, revenue, consumption];
                excelData.push(rowData);
            }

            // Sử dụng thư viện xlsx để tạo một tệp Excel
            var worksheet = XLSX.utils.aoa_to_sheet(excelData);
            var newWorkbook = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(newWorkbook, worksheet, 'Biểu đồ Data');

            // Tạo một tệp Excel
            if(chartData[0].data.length <= 12) {
                XLSX.writeFile(newWorkbook, 'Bieu_do_nam.xlsx');
            }
            else if(chartData[0].data.length > 12 && chartData[0].data.length < 32) {
                XLSX.writeFile(newWorkbook, 'Bieu_do_thang.xlsx');
            }
        }
    </script>
{% endblock content %}
